.account {
  @media (min-width:64rem) {
    grid-column: span 3 / span 3;
  }
  
  .account-details {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
    .field-name {
      text-align: right;
      font-style: italic;
    }
    
    .field-value {
      text-align: left;
      font-weight: bold;
    }
  }
}
