table {
  width: 100%;
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  thead {
    tr {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color: var(--border);
      th {
        padding-bottom: calc(var(--spacing) * 3);
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
        font-weight: var(--font-weight-semibold);
        text-transform: uppercase;
        letter-spacing: var(--tracking-wider);
        color: var(--muted-foreground);
        text-align: center;
      }
    }
  }
  
  tbody {
    tr {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color: color-mix(in oklab, var(--border) 60%, transparent);
      td {
        padding-block: calc(var(--spacing) * 3);
        padding-right: calc(var(--spacing) * 4);
      }
      
      td:last-child {
        padding-right: 0;
        text-align: right;
      }
    }
  }
}
